natlog-root {
	all: initial;
	box-sizing: border-box;

	--ease-duration: 0.2s;
	--ease-function: ease-out;

	z-index: calc(infinity);
	position: fixed;
	right: 1vw;
	top: 1vh;
	display: flex;
	flex-direction: column-reverse;

	font-family: "JetBrains Mono", monospace;

	& .natlog-popup {
		--bg: #fff;
		--br: #000;

		display: flex;
		align-items: center;
		justify-content: space-between;

		width: 35vw;
		margin: 0.5rem;
		border: var(--br) 2px solid;
		border-radius: 10px;

		opacity: 1;
		background-color: var(--bg);

		transition: opacity var(--ease-duration) var(--ease-function),
			box-shadow var(--ease-duration) var(--ease-function);

		&:hover {
			box-shadow: 0.2rem 0.3rem var(--br);
		}

		& .natlog-content-box {
			display: flex;
			flex-direction: column;
			overflow-y: auto;
			overscroll-behavior-y: none;

			max-height: 50vh;
			padding: 0.5rem;
			margin: 0.5rem;

			& .natlog-content {
				margin: 0;

				& .omni {
					font-size: 1.2rem;
					word-break: break-all;
				}
			}
		}

		& .natlog-action {
			rotate: 45deg;

			margin-top: 0.5rem;
			margin-bottom: auto;
			margin-left: auto;
			margin-right: 1rem;

			opacity: 0.5;
			font-size: 2rem;

			-webkit-user-select: none;
			user-select: none;
			cursor: pointer;

			transition: opacity var(--ease-duration) var(--ease-function);

			&:hover {
				opacity: 0.8;
			}
		}
	}
}
