nat-log {
	all: initial;

	position: fixed;
	top: 0;
	right: 0;
	z-index: calc(infinity);

	display: flex;
	flex-direction: column;

	font-family: "JetBrains Mono", monospace;
}

nat-log {
	width: 15rem;
}
@media screen and (width >= 40rem) {
	nat-log {
		width: 20rem;
	}
}
@media screen and (width >= 48rem) {
	nat-log {
		width: 25rem;
	}
}

nat-log .nl-prompt {
	--bg: ;
	--br: ;

	position: relative;

	margin-top: 0.5rem;
	margin-inline: 0.5rem;
	background-color: var(--bg);

	border: var(--br) 2px solid;
	border-radius: 10px;

	transition: box-shadow 0.2s ease-out;

	&:hover {
		box-shadow: 2px 2px var(--br);
	}
}

nat-log .nl-prompt .nl-content {
	display: flex;
	flex-direction: column;
	gap: 0.2rem;

	width: calc(100% - 2.5rem);
	margin-block: 0.5rem;
	margin-inline: 0.7rem;
	max-height: 15rem;

	overflow-y: auto;
	overscroll-behavior-y: none;
}

nat-log .nl-prompt .nl-dismiss {
	position: absolute;
	top: 0;
	right: 0.5rem;

	rotate: 45deg;
	font-size: 1.5rem;
	color: oklch(55.6% 0 0);

	cursor: pointer;
	user-select: none;

	transition: color 0.2s ease-out;

	&:hover {
		color: oklch(37.1% 0 0);
	}
}
